@import "tailwindcss";


:root {
  font-family: Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: #f9fafb; /* Use a hex value instead of theme function */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply m-0 min-w-[320px] min-h-screen;
    background-color: rgba(242, 255,253, 1);
  }
}

.layout-container {
  @apply relative z-1 pt-6 pb-10 px-4 md:px-5 -mt-12 md:-mt-22;

  &:not(.no-nav) {
    @apply mt-65 md:mt-48 lg:mt-34 xl:mt-24;
  }
}

@theme {
  --color-card-border: rgba(216, 237, 222, 1);
  --color-text-primary: rgba(0, 120, 54, 1);
  --color-text-content: rgba(32, 32, 32, 1);
  --color-text-label-secondary: rgba(111, 111, 111, 1);
}

.gm-style .gm-style-iw {
  border-radius: 14px !important;
  padding: 0 !important;
  margin: 0 !important;
}
.gm-style-iw-d {
  overflow: visible !important;
}